html,body{
    overflow-x: hidden;
}
.body{
    background-image: url("../images/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card-footer p{
    margin-left: 900px;
    color:whitesmoke;
     margin-bottom: 0px;
}
.card-footer{
margin-top: 120px;
} 